* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #6a7dfe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  margin-bottom: 20px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 5px;
}

.input-box button {
  padding: 10px 15px;
  margin-left: 10px;
  background: #6a7dfe;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input:focus { outline: none; }

#taskList li {
  list-style: none;
  padding: 10px;
  background: #f5f5f5;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#taskList li.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: red;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
